.board-parent{
  transform-style: preserve-3d;
}

.board-wrapper {
  text-align:center;
  background-color: #f1f1f1;
}

#board{
  display: inline;
  margin: 20px 0px;

  border-color: black;
  border-width: 1px;
  border-style: solid;
}
